/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}

.swiper:hover {
  .swiper-button-next {
    display: block !important;
  }
  .swiper-button-prev {
    display: block !important; 
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background-color: white !important;
  border-radius: 50%;
  box-sizing: border-box;
  color: transparent !important; /* Add this to hide text/arrow color */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important; /* Completely hide the default arrow */
}

.swiper-button-next {
  background-image: url('next.svg') !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.swiper-button-prev {
  background-image: url('prev.svg') !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}